astroid==2.4.2
backcall==0.2.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.6.1
jedi==0.17.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.3.2
mccabe==0.6.1
moviepy==1.0.3
numpy==1.19.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
playsound==1.2.2
proglog==0.1.9
prompt-toolkit==3.0.7
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.7.1
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.24.0
scipy==1.5.2
six==1.15.0
SoundFile==0.10.3.post1
toml==0.10.1
tqdm==4.50.2
traitlets==5.0.4
urllib3==1.25.10
wcwidth==0.2.5
wrapt==1.12.1
